Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
PyMySQL==1.1.1
python-dotenv==1.1.0
firebase_admin==7.0.0
flask-cors==5.0.1
scikit-fuzzy==0.5.0
numpy==1.26.4
scipy==1.13.0
gunicorn
